
* {
    font-family: "Varela Round", sans-serif;
}

.rtl {
    direction: rtl;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item a {
    color: rgb(8, 48, 74);
    margin: 0 4px;
    display: block;
    padding: 0px 25px;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    color: #08304a !important;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.menu-item a:hover {
    color: #F5761F !important;
}

.home-button {
    max-height: 40px;
    margin-top: 12px;
}

.nav {
    direction: rtl !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    position: relative;
}

.banner {
    background-image: url("http://www.mesangelim.co.il/images/main_img.jpg") !important;
    height: 500px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.go-inline-block {
    display: inline-block;
}